body {
  height: 100%;
  color: #333;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  font-weight: bold;
  line-height: 44px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}

p {
  color: #505050;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}

a {
  text-decoration: underline;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 0;
}

.nav {
  background-color: rgba(0, 0, 0, 0);
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.herobg {
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, 0));
  padding-top: 25%;
}

.navlinks {
  color: #fff;
  text-transform: none;
  padding-left: 12px;
  padding-right: 12px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.navlinks.w--open {
  padding-right: 25px;
}

.navlinks.scroll {
  color: #4b4b4b;
  padding-left: 12px;
  padding-right: 12px;
}

.navlinks.scroll.drop {
  color: #3a3a3a;
  padding-right: 25px;
}

.navlinks.drop {
  padding-right: 25px;
}

.navlinks.drop.scroll {
  color: #3a3a3a;
}

.heroheader {
  color: #fff;
  text-align: center;
  letter-spacing: -4px;
  font-family: Montserrat, sans-serif;
  font-size: 54px;
  font-weight: 700;
  line-height: 98px;
}

.subheader {
  text-align: center;
  margin-bottom: 36px;
  font-family: Open Sans, sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}

.campaignsection {
  padding: 100px 10px;
}

.campaignlink {
  width: 100%;
  color: #e5007d;
}

.sectionheader {
  color: #3a3a3a;
  text-align: center;
  letter-spacing: -2px;
  text-transform: capitalize;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 44px;
  font-weight: 700;
  line-height: 48px;
}

.sectionheader.coverage {
  margin-top: 0;
  margin-bottom: 20px;
}

.sectionheader.gridhead {
  color: #3a3a3a;
  text-transform: capitalize;
  margin-bottom: 35px;
}

.campaignimagewrap {
  height: 250px;
  background-image: url('../images/WorkWithUs.jpg');
  background-position: 50%;
  background-size: cover;
  margin-bottom: 20px;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.campaigntextbg {
  text-align: center;
  background-color: rgba(255, 255, 255, .9);
  align-items: center;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.campaign-title {
  color: #383838;
  text-align: center;
  text-transform: none;
  flex: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}

.transitionsection {
  color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  padding-top: 200px;
  padding-bottom: 200px;
  position: relative;
}

.transitionsection.work {
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/IMG_3429.jpg');
  background-position: 0 0, 50%;
  background-size: auto, cover;
}

.transitionsection.blurredppl {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/peopleBlur.jpg');
  background-position: 0 0, 50%;
  background-size: auto, cover;
}

.transitionsection.passion {
  background-image: url('../images/passionTransition.jpg'), linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  background-position: 50%, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: cover, auto;
  background-attachment: fixed, scroll;
}

.transitionsection.workwithus {
  text-transform: none;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/WorkWithUs.jpg');
  background-position: 0 0, 50%;
  background-size: auto, cover;
}

.transitionsection.conf {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/Desk.jpg');
  background-position: 0 0, 50%;
  background-size: auto, cover;
}

.transitionsection.office {
  background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../images/Magnum-Building-2.jpg');
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  padding-bottom: 100px;
}

.section {
  padding-top: 100px;
  padding-bottom: 150px;
}

.section.gray {
  background-color: #f3f3f3;
  position: relative;
}

.section.map {
  padding-bottom: 0;
}

.section.coveragespacing {
  padding-bottom: 35px;
}

.blockquote {
  color: #fff;
  text-align: center;
  letter-spacing: -3px;
  text-transform: capitalize;
  border-style: none;
  border-left-width: 7px;
  padding-left: 0;
  padding-right: 0;
  font-family: Montserrat, sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 62px;
}

.scrollnavigation {
  background-color: #fff;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.important {
  font-size: 62px;
  line-height: 68px;
  display: block;
}

.statcontainer {
  height: 220px;
  padding: 20px;
  position: relative;
}

.statdescv {
  color: #fff;
  text-align: center;
  font-family: Lato, sans-serif;
  font-size: 16px;
  line-height: 18px;
  position: relative;
  top: 8px;
}

.statistic {
  color: #fff;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 92px;
  font-weight: 600;
  line-height: 120px;
}

.source {
  color: #aaa;
  text-align: center;
  font-family: Lato, sans-serif;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.section-subheader {
  color: #555;
  text-align: center;
  text-transform: none;
  margin-top: 15px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.section-subheader.gridheader {
  color: #555;
  margin-bottom: 55px;
}

.section-subheader.supershuttle-spacer {
  margin-top: 55px;
  font-size: 36px;
  line-height: 48px;
}

.lbimage {
  width: 100%;
  margin-bottom: 19px;
}

.lbimage.vert {
  position: relative;
  bottom: 45%;
}

.lbimage.vert.more {
  bottom: 103%;
}

.lbimage.short {
  height: 296px;
}

.lbimagessection {
  margin-top: 20px;
  margin-bottom: 60px;
}

.supershuttletext {
  margin-bottom: 60px;
}

.illuminatedtop {
  color: #3a3a3a;
  padding-top: 15px;
}

.illuminatedtopcont {
  padding-top: 0;
  padding-left: 25px;
}

.gray {
  background-color: #f2f2f2;
}

.textfield {
  height: 48px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

.textfield.trans {
  color: #fff;
  background-color: #fff;
  font-size: 16px;
}

.textarea {
  border-radius: 5px;
  font-size: 16px;
}

.textarea.trans {
  background-color: #fff;
}

.trans-sub-head {
  color: #fff;
  text-align: center;
  margin-bottom: 48px;
  font-family: Lato, sans-serif;
  font-size: 24px;
  line-height: 30px;
}

.contactcont {
  padding-left: 30px;
  padding-right: 30px;
}

.transp {
  color: #fff;
  margin-bottom: 20px;
}

.submitbtn {
  border-radius: 5px;
  margin-top: 21px;
  padding: 8px 25px;
  font-size: 16px;
  line-height: 22px;
}

.tans-address {
  color: #fff;
  text-align: right;
  font-size: 16px;
  line-height: 24px;
}

.addresspre {
  text-align: right;
  text-transform: uppercase;
  font-family: Lato, sans-serif;
  font-size: 12px;
}

.addresshead {
  text-align: right;
  background-color: rgba(0, 0, 0, 0);
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.projects-header {
  padding-top: 120px;
}

.feature-image {
  width: 100%;
  margin-bottom: 20px;
}

.othercampaigns {
  margin-top: 50px;
  margin-bottom: 14px;
  font-family: Montserrat, sans-serif;
  font-size: 28px;
  line-height: 36px;
}

.campaign-image-thumb {
  margin-bottom: 20px;
}

.highlight {
  width: 30.3%;
  height: 470px;
  float: left;
  margin-bottom: 50px;
  margin-left: 1.5%;
  margin-right: 1.5%;
  display: inline-block;
  position: relative;
}

.highlight.singlrow {
  height: auto;
}

.highlightheader {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.highlighttext {
  color: #1b1b1b;
  margin-bottom: 0;
  padding-top: 10px;
  font-size: 16px;
  font-weight: 300;
}

.highlightscont {
  margin-bottom: 0;
  padding-top: 10px;
  padding-left: 0;
}

.lightboxlink {
  height: 195px;
  margin-bottom: 15px;
  overflow: hidden;
}

.dropdownico {
  margin-right: 0;
}

.dropdownico.scroll, .scroll-link-text {
  color: #3a3a3a;
}

.clientlogo {
  height: 175px;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 1px;
  display: flex;
}

.highlighthead {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}

.downmask {
  z-index: 999;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.download-list {
  text-align: center;
  background-color: #e5007d;
  border: 2px solid rgba(0, 0, 0, .1);
  border-radius: 4px;
  display: block;
}

.mediakittext {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.kiticon {
  color: #fff;
}

.ddlink {
  padding: 15px;
  font-family: Lato, sans-serif;
  font-size: 16px;
}

.dlbutton {
  text-align: center;
  letter-spacing: -1px;
  background-color: #e5007d;
  border: 2px solid rgba(0, 0, 0, .1);
  border-radius: 4px;
  padding: 20px 35px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 22px;
  transition: box-shadow .2s;
  display: block;
}

.dlbutton:hover {
  box-shadow: 0 3px 25px rgba(0, 0, 0, .4);
}

.cases {
  padding-top: 40px;
}

.zipcodecontainer {
  width: 25%;
  float: left;
}

.map {
  width: 100%;
  height: 500px;
  position: relative;
}

.stszips {
  text-align: center;
  padding: 20px;
}

.slides {
  background-color: #000;
  background-image: url('../images/Slide1-Zafra-on-5th--Alton.jpg');
  background-position: 50%;
  background-size: cover;
  padding: 25px;
  display: block;
}

.slides.slide1 {
  background-image: linear-gradient(rgba(3, 3, 3, .6), rgba(3, 3, 3, .6)), url('../images/Slide1-Zafra-on-5th--Alton.jpg');
  background-position: 0 0, 50%;
  background-size: auto, cover;
}

.slides.slide2 {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/Slide2_World-Resorts-Bimini.jpg');
  background-position: 0 0, 0 0;
  background-size: auto, 810px;
}

.slideimg {
  min-width: 100%;
  opacity: .5;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.slidecontent {
  color: #fff;
}

.testimonialsslider {
  background-color: rgba(0, 0, 0, 0);
}

.testimonialslide {
  padding-top: 70px;
}

.testimonialauthor {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Open Sans, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
}

.button {
  border-radius: 6px;
  font-family: Montserrat, sans-serif;
}

.button.pink {
  background-color: #e5007d;
}

.button.pink.back2top {
  float: right;
  position: relative;
  top: 45px;
}

.button.pink.center {
  width: 150px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.slidenav {
  position: relative;
  bottom: 60px;
}

.campaign-image {
  min-width: 100%;
}

.right-arrow {
  position: static;
}

.mask {
  bottom: 0;
  left: 0;
}

.slider-2 {
  height: 550px;
}

.slider-2.slide2bg {
  background-image: url('../images/Slide1-Zafra-on-5th--Alton.jpg'), linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6));
  background-position: 0 0, 0 0;
  background-size: 810px, auto;
}

.block-quote {
  border-left-color: #e5007d;
  margin-bottom: 20px;
  font-family: Oswald, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.hiddencontent {
  display: none;
}

.paragraph {
  color: #313131;
  font-size: 16px;
}

.highlightcard {
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 5px;
  padding: 1px 20px 25px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, .1);
}

.lightbox-link {
  max-height: 320px;
  overflow: hidden;
}

.slide1 {
  padding-top: 115px;
}

.slide1.slide1bg {
  background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../images/Slide1-Zafra-on-5th--Alton.jpg');
  background-position: 0 0, 50%;
  background-size: auto, cover;
}

.slide1.slide2bg {
  background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../images/Slide2_World-Resorts-Bimini.jpg');
  background-position: 0 0, 50%;
  background-size: auto, cover;
}

.slide1.slide3bg {
  background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../images/Slide3_Citicards-2-Shuttles-Downtown-Miami-area.jpg');
  background-position: 0 0, 50%;
  background-size: auto, cover;
}

.slide1.slide4bg {
  background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../images/Slide4_Del-Toro-on-826-Ramp.jpg');
  background-position: 0 0, 50%;
  background-size: auto, cover;
}

html.w-mod-js [data-ix="campaign-bg"] {
  opacity: 0;
  display: none;
  transform: translate(0, 75px);
}

html.w-mod-js [data-ix="scroll-nav-display"] {
  opacity: 0;
  display: none;
  transform: translate(0, -90px);
}

html.w-mod-js [data-ix="fade-in-from-bottom"] {
  opacity: 0;
  transform: translate(0, 20px);
}

html.w-mod-js [data-ix="initial-state-button"] {
  opacity: 0;
  display: none;
  transform: translate(0, 33px);
}

@media screen and (max-width: 991px) {
  .campaignlink {
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 4px;
  }

  .campaignimagewrap {
    height: 150px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: 0;
  }

  .responsivecampaigntext {
    text-align: center;
    letter-spacing: -1px;
    background-color: rgba(255, 255, 255, .8);
    padding: 15px 10px;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    line-height: 22px;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .highlight {
    width: 47%;
  }

  .hamburgermenu {
    color: #fff;
  }

  .clientlogo {
    height: 120px;
    margin: 5px;
  }
}

@media screen and (max-width: 767px) {
  .campaignlink {
    width: 80%;
    margin-bottom: 26px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .hamburgermenu {
    color: #fff;
  }

  .clientlogo {
    width: 50%;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

@media screen and (max-width: 479px) {
  .herobg {
    padding-top: 120px;
  }

  .heroheader {
    font-size: 52px;
    line-height: 56px;
  }

  .campaignlink {
    width: 90%;
  }

  .section {
    padding-left: 10px;
    padding-right: 10px;
  }

  .submitbtn {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .highlight {
    width: 96%;
    margin-bottom: 25px;
  }

  .hamburgermenu {
    color: #fff;
  }

  .clientlogo {
    width: 90%;
  }
}


